{% load static %}

<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary ">
    <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarMenuLabel">Rocket Track</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 text-dark active" aria-current="page" href="#">
                        <svg class="bi"><use xlink:href="#house-fill"/></svg> Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 text-dark" href="{% url 'expenses' %}">
                        <svg class="bi"><use xlink:href="#file-earmark-text"/></svg> Expenses
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 text-dark" href="#">
                        <svg class="bi"><use xlink:href="#file-earmark-text"/></svg> Income
                    </a>
                </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
                <span>Summary</span>
                <a class="link-secondary" href="#" aria-label="Add a new report">
                    <svg class="bi"><use xlink:href="#plus-circle"/></svg>
                </a>
            </h6>
            <ul class="nav flex-column mb-auto">
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 text-dark" href="#">
                        <svg class="bi"><use xlink:href="#file-earmark-text"/></svg> Expenses Summary
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 text-dark" href="#">
                        <svg class="bi"><use xlink:href="#file-earmark-text"/></svg> Income Summary
                    </a>
                </li>
                <hr class="my-3">

                <ul class="nav flex-column mb-auto">
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2 text-dark" href="{% url 'preferences' %}">
                            <svg class="bi"><use xlink:href="#gear-wide-connected"/></svg> Preferences
                        </a>
                    </li>
                    <li class="nav-item my-3">
                        <form action="{% url 'logout' %}" method="POST">
                            {% csrf_token %}
                            <svg class="bi mx-3"><use xlink:href="#door-closed "/></svg>
                            <input value="sign out" type="submit" class=" btn btn-sm text-white bg-primary gap-2">
                        </form>
                    </li>
                </ul>
            </ul>

        </div>
    </div>
</div>